.Catalog {
    position: relative;
    background: url('../../assets/images/trapeze.png') no-repeat center center;
    background-size: cover;
    color: var(--primary-color);
    height: 60vw;
    width: 100vw;

    display: flex;
    gap: 2vh;
    flex-direction: column; 
    text-align: center;
    padding-top: 5%;

    font-family: "Reem Kufi", sans-serif;
}


.Catalog p {
    font-size: 1.7vw;
  }

.Catalog h1 {
    font-size: 2vw;
  }

