.strip {
    width: 100vw;
    height: 4vw;
    background-color: var(--secondary-color);
    transform: rotate(8deg);
    margin-top: 5vh;
    align-content: left;
    overflow: hidden;
  }
  
  .strip:first-child {
    margin-top: 0;
  }