.CreditsBar {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 20vh;
    width: 100%;
    flex-direction: row;
    font-family: "Reem Kufi", sans-serif;
  }