.MenuBar {
    display: inline-flex;
    align-items: flex-start;
    gap: 80px;  
  }
  
  
  .tab {
    padding-left: 58;
    cursor: pointer;
    font-family: "Reem Kufi", sans-serif;
    color: var(--secondary-color);
    margin-right: 80px; 

  }

  .tab:last-child {
    margin-right: 0px; 
  }
  
  .tab:hover {
    text-decoration: underline;
  }
  