.CollectionList {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;
  }
  
  .CollectionItem {
    margin: 10px;
  }
  
  .CollectionItem img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
  }
  